body {
    background-image: url("../art/different-color-stars-ftr.jpg");
}

.mcButton {
    background-color: black;
    color: white;
    width: 250px;
    height: 75px;
    margin: 10px;
    display: inline-block;
}

.questionbox {
    align-content: center;
    text-align: center;
}

.answerbox {
    align-content: center;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 22px;
    margin-top: 15px;
}

.cssbox {
    align-content: center;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

.triviaDiv {
    width: 90%;
    margin: auto;
}

.triviaDiv2 {
    width: 300px;
    margin: auto;
}